
body{ 
   background-image: url(background.jpg);
    background-color: #FFFFFF;
    color:darkgray;
    
    font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p{
    font-size: 1.15em;
}
#wrapper{
    
    background-color: #90C7E3;
    box-shadow:  10px 10px 6px;
    width: 80%;
    margin: auto;
    min-width: 960px;
}
h1{
    background: url(sunset.jpg) right no-repeat;
    background-color: #000033;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
    margin-bottom: 0;
    padding: 5px; 
}
span.em{
    font-style: italic;
}
ul {
    list-style-position: inside;
    font-size: 1.15em;
}
nav{
    /*background-color: skyblue; */
    margin: 6px;
    font-weight: bold; 
    float: left;
    width: 150px;
    padding: 10px  0 ;
    
    
}
nav ul{
    list-style-type: none;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    
}
main{
    margin-left: 155px;
    /*margin: 0 20px 0 20px;*/
}
h2{
    color: #3399CC;
    font-family: "Times New Roman", Georgia, Serif;
    text-shadow: 2px 4px 3px grey;
    font-size: 1.8em;
}
.resort{
    color:darkblue;
    font-weight: bold;
}
#contact{
    font-size: 90%;
    clear:left;   
}
.clear{
    clear:left;
    padding-top: 10px;
}
#footer{
     font-size: 75%;
    font-family: "Times New Roman", Georgia, Serif;
    font-style: italic;
}
img{
    width: 200px;
    height: 190px;
    float: left;
    margin-right: 10px;
    
}
h3{
    color:#000033;
    font-family: "Times New Roman", Georgia, Serif;
}

@keyframes mysecond {
 0%   { left:0; bottom:auto;}
 100%  { left:90%; top:auto;}  
} 
@-moz-keyframes mysecond{
 0%   { left:0; bottom:auto;}
 100%  {left:850px; top:auto;}
}  
@-webkit-keyframes mysecond {
 0%   { left:0px; bottom:auto;}
 100%  { left:850px; top:auto;}  
} 
#animation{
    height: 200px;
    width: 50px;
    position: relative;
	animation:mysecond 5s linear forwards ;       
}
a{
    text-decoration: none;
        
}
a:link {
    color: #000033;
}
a:visited {
    color: #344873;
}
a:hover {
    color: white;
}
    
textarea{
    vertical-align: top;
}


@media screen and (max-width: 480px) {
 body{ 
    color:black;
     max-width: 480px
    
}
p{
    font-size: 1.15em;
    margin: 4px;
}
#wrapper{
    
    box-shadow:  none;
    width: 100%;
    margin: auto;
    min-width: auto;
}
h1{
    background: none;
    background-color: #000033;
    margin-bottom: 0;
    
}

ul {
    list-style-position: outside;
}
nav{
    float: none;
    width: auto;
    padding: 0;
    display: inline;
    margin: 0; 
    
       
}
   
nav li{
    list-style-type: none;
    display: inline;
    
    
}
main{
    margin-left: 0;
}
h2{
    text-shadow: none;

}

img{
   display: none;
    
}

#animation{
   display: none;       
}
}

